<!DOCTYPE html>
<html>
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title%> - CordycepsHub电商平台</title>
    </head>
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="w">
        <ul class="keywords-list">
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=冬虫夏草">冬虫夏草</a>
                <a class="link" target="_blank" href="./list.html?keyword=A类冬虫夏草">A类冬虫夏草</a>
                <a class="link" target="_blank" href="./list.html?keyword=B类冬虫夏草">B类冬虫夏草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=亚香棒虫草">亚香棒虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=A类亚香棒虫草">A类亚香棒虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=凉山虫草">凉山虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=A类凉山虫草">A类凉山虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=蛹虫草">蛹虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=C类蛹虫草">C类蛹虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=D类蛹虫草">D类蛹虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=新疆虫草">新疆虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=A类新疆虫草">A类新疆虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=虫草含片">虫草含片</a>
                <a class="link" target="_blank" href="./list.html?keyword=精致虫草含片">精致虫草含片</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=盒装虫草">盒装虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=散装虫草">散装虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=虫草冲剂">虫草冲剂</a>
                <a class="link" target="_blank" href="./list.html?keyword=虫草批发">虫草批发</a>
                <a class="link" target="_blank" href="./list.html?keyword=大型虫草">大型虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=普通虫草">普通虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=天山虫草">天山虫草</a>
            </li>
            <li class="keywords-item">
                <a class="link" target="_blank" href="./list.html?keyword=特价虫草">特价虫草</a>
                <a class="link" target="_blank" href="./list.html?keyword=虫草包装">虫草包装</a>
            </li>
        </ul>
        <div class="banner-con">
            <div class="loading"></div>
        </div>
    </div>
    <div class="w">
        <div class="floor-wrap">
            <h1 class="floor-title">F1 冬虫夏草</h1>
            <ul class="floor-list">
                <li class="floor-item">
                    <a href="./list.html?categoryId=11">
                        <span class="floor-text">冬虫夏草A</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=12">
                        <span class="floor-text">冬虫夏草B</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="电视" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=13">
                        <span class="floor-text">冬虫夏草C</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="洗衣机" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=14">
                        <span class="floor-text">冬虫夏草D</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="空调" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=15">
                        <span class="floor-text">冬虫夏草E</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="热水器" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="floor-wrap">
            <h1 class="floor-title">F2 亚香棒虫草</h1>
            <ul class="floor-list">
                <li class="floor-item">
                    <a href="./list.html?categoryId=16">
                        <span class="floor-text">亚香棒虫草A</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="笔记本电脑" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=17">
                        <span class="floor-text">亚香棒虫草B</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="手机" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=18">
                        <span class="floor-text">亚香棒虫草C</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="平板电脑" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=19">
                        <span class="floor-text">亚香棒虫草D</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="数码相机" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=20">
                        <span class="floor-text">亚香棒虫草E</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="3C配件" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="floor-wrap">
            <h1 class="floor-title">F3 凉山虫草</h1>
            <ul class="floor-list">
                <li class="floor-item">
                    <a href="./list.html?categoryId=21">
                        <span class="floor-text">凉山虫草A</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor3-1.jpg') %>" alt="女装" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=22">
                        <span class="floor-text">凉山虫草B</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor3-2.jpg') %>" alt="帽子专区" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=23">
                        <span class="floor-text">凉山虫草C</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor3-3.jpg') %>" alt="旅行箱" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=24">
                        <span class="floor-text">凉山虫草D</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor3-4.jpg') %>" alt="手提包" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=25">
                        <span class="floor-text">凉山虫草E</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor3-5.jpg') %>" alt="保暖内衣" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="floor-wrap">
            <h1 class="floor-title">F4 蛹虫草</h1>
            <ul class="floor-list">
                <li class="floor-item">
                    <a href="./list.html?categoryId=26">
                        <span class="floor-text">蛹虫草A</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor4-1.jpg') %>" alt="最爱零食" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=27">
                        <span class="floor-text">蛹虫草B</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor4-2.jpg') %>" alt="生鲜" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=28">
                        <span class="floor-text">蛹虫草C</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor4-3.jpg') %>" alt="半成品菜" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=29">
                        <span class="floor-text">蛹虫草D</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor4-4.jpg') %>" alt="速冻专区" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=30">
                        <span class="floor-text">蛹虫草E</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor4-5.jpg') %>" alt="进口牛奶" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="floor-wrap">
            <h1 class="floor-title">F5 新疆虫草</h1>
            <ul class="floor-list">
                <li class="floor-item">
                    <a href="./list.html?categoryId=31">
                        <span class="floor-text">新疆虫草A</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor5-1.jpg') %>" alt="白酒" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=32">
                        <span class="floor-text">新疆虫草B</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor5-2.jpg') %>" alt="红酒" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=33">
                        <span class="floor-text">新疆虫草C</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor5-3.jpg') %>" alt="饮料" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=34">
                        <span class="floor-text">新疆虫草D</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor5-4.jpg') %>" alt="调制鸡尾酒" />
                    </a>
                </li>
                <li class="floor-item">
                    <a href="./list.html?categoryId=35">
                        <span class="floor-text">新疆虫草E</span>
                        <img class="floor-img" src="<%= require('../image/floor/floor5-5.jpg') %>" alt="进口洋酒" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>